/*Hide all these elements by default*/
label[for=folio-hide],
#folio.postbox,
#use-default {
    /* Hide the control to hide folio */
    display: none;
}

#folio.postbox {
    margin: 10px 0 0;
}

#postdivrich #folio.postbox {
    /* So that it's not changed by script in WP */
    display: block !important;
}

.folio-metabox {
}

#folio .pad {
    padding: 5px;
    box-sizing:border-box;
}
#folio .pad2 {
    padding: 10px;
    box-sizing:border-box;
}
/* Add Section */
.folio-add-section {
    line-height: 70px;
    border: 1px dashed #ccc;
    font-size: 20px;
    text-align: center;
    margin: 25px 0 0;
}

/* Section */
.folio-section {
    background: #eee;
}

/* Add stuff triggers */
.folio-add{
    opacity:0.34;
    cursor: pointer;
}
.folio-add:hover{
    opacity:1;
}

/* Row container in section */
.folio-rows-container {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

/* Add row in section */
.folio-add-row {
    line-height: 70px;
    font-size: 20px;
    text-align: center;
}

/* Row */
.folio-row {
    background: #ddd;
    display: table-row;
}

/* Clear Row */
.folio-row:after {
    display:block;
    clear: both;
}

/* Cell */
.folio-cell {
    width: 50%;
    display: table-cell;
    position:relative;
    padding-bottom:52px
}

/* Add Content trigger */
.folio-add-content{
    line-height: 52px;
    font-size: 17px;
    text-align: center;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}

/* Content in cell */
.folio-content{
    background: #ccc;
    min-height: 70px;
    text-align: center;
    margin: 10px 10px 0;
    cursor:move;
}
