/*Hide all these elements by default*/
label[for=folio-hide],
#folio.postbox,
#use-default {
    /* Hide the control to hide folio */
    display: none;
}

#folio.postbox {
    margin: 10px 0 0;
}

#postdivrich #folio.postbox {
    /* So that it's not changed by script in WP */
    display: block !important;
}

.folio-metabox {
}

#folio .pad {
    padding: 5px;
    box-sizing:border-box;
}
#folio .pad2 {
    padding: 10px;
    box-sizing:border-box;
}
/* Add Section */
.folio-add-section {
    line-height: 70px;
    border: 1px dashed #ccc;
    font-size: 20px;
    text-align: center;
    margin: 25px 0 0;
}

/* Section */
.folio-section {
    background: #eee;

}

/* Row container in section */
.folio-rows-container {
}

/* Add row in section */
.folio-add-row {
    line-height: 70px;
    font-size: 20px;
    text-align: center;
}

/* Row */
.folio-row {
    background: #ddd;
}

/* Clear Row */
.folio-row:after {
    content:'';
    display:block;
    clear: both;
}

/* Cell */
.folio-cell {
    float: left;
    width: 50%;
}

/* Content in cell */
.folio-content{
    background: #ccc;
    font-size: 17px;
    line-height: 52px;
    text-align: center;
}
